#banner {
  float: left; }
  #banner img {
    width: 90px; }

#toolbar {
  float: right;
  margin-top: 20px; }

#dashboard_search {
  text-align: center;
  margin-top: 100px; }

#footer {
  text-align: center;
  padding: 50px 0; }

.profile_picture img {
  width: 300px; }

.profile_description {
  margin-top: 20px;
  font-size: 20px; }
  .profile_description .user_badge {
    color: red; }
    .profile_description .user_badge .user_badge_label {
      color: blue; }
    .profile_description .user_badge .user_badge_img {
      width: 100px;
      height: 100px;
      display: inline-block;
      background-image: url("badges4.jpg"); }
    .profile_description .user_badge .user_badge_img.jetsetter {
      background-position: 0px 0px; }

.create_itinerary {
  float: right; }

#header {
  border-bottom: 1px solid #eeeeee; }

#main {
  margin-top: 30px; }

form .form_actions {
  text-align: center; }

#login_form {
  background: #c5fdff;
  border: 1px solid #4ce6cd;
  border-radius: 5px;
  position: absolute;
  right: 5px;
  top: 50px;
  padding: 10px; }
